.banner{
  background: #1C509C;
  color: white;
}
.infoBar{
  font-size: 18px;
}
.leftText{
width: 60%;
}
.clubName{
  font-size: 40px;
}
.rightImg{
  width: 40%;
}
.b1,.b2{
  width: 25rem;
  height: 20rem;
}