.mission{
background-image: url('../../assets/Images/yellowBlock.png') ;
height: 30rem;
width: 27.2rem;
position: relative;
}
.mission h4{
    position: absolute;
    top: 10rem;
    right: 11rem;
    color: white;
}
.mission p{
    position: absolute;
    top: 12rem;
    right: 3.3rem;
    width: 70%;
    color: white;
}