.values{
   background-image: url('../../assets/Images/blueBlock1.png');
   position: relative;
height: 27.1rem;
  width: 27rem;
}
.values h4{
    position: absolute;
  top: 7rem;
  right: 9rem;
  color: white;
}
.values p{
    width: 63%;
  position: absolute;
  top: 9rem;
  right: 5rem;      
  color: white;
}